<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Header</title>
	<meta charset="utf-8" />

</head>
	
<body>
	<div th:fragment="sidebar">
		<script type="text/javascript" th:src="@{/public/templates/medic247/vendor/highchart/highcharts.js}"></script>
		<div class="sidebar-menu">
			<div class="top">
				<a class="logo">
					<img th:src="@{/public/templates/medic247/img/logo-white.svg}" alt="Logo">
				</a>
			</div>
			<div class="navbar mscrollable">
				<div class="menus">
					<div class="item active">
						<a th:href="@{/app/common/dashboard}" class="url">
							<span class="icon icon-uniF1272 -ap"></span>
							<span class="text">
								Bảng điều khiển
							</span>
						</a>
					</div>
					
					<div class="item">
						<a href="#" class="url">
							<span class="icon -ap  icon-business-card"></span>
							<span class="text">Danh mục</span>
							<div class="down -ap  icon-chevron-right22">
							</div>
						</a>
						<ul class="dropdown-menu">
							<li class=""><a th:href="@{/app/danhmuc/donvitinh}"> Đơn vị tính</a></li>
							<li class=""><a th:href="@{/app/danhmuc/thuoc}"> Thuốc</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>

</html>