<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/booking">

<head>
	<meta charset="utf-8" />
	<title>Booking</title>
</head>

<body>
	<div layout:fragment="content" class="ds-bs">
		<div class="form-booking">
			<div class="container">
				<div id="timkiem">
					<div id="timkiem_dau"><i class="bt-g glyphicon glyphicon-search"></i><input type="search"
							id="timkiem_truyvan" value="BÁC SĨ GIA ĐÌNH"
							placeholder="Tìm kiếm theo chuyên khoa, cơ sở y tế, tên bác sĩ, lý do khám hoặc dịch vụ y tế">
					</div>
				</div>
			</div>
		</div>
		<div class="container">

			<div class="ds-bs-lk">
				<div class="ds-bs-dieuhuong affix-top" data-spy="affix" data-offset-top="199" data-offset-bottom="800">
					<div id="lichkham_dieuhuong">
						<div class="hang row">
							<div class="cot-3 col-xs-3"></div>
							<div class="cot-6 col-xs-6">Hôm nay - 27/9</div>
							<div class="cot-3 col-xs-3"><a class="sk-ngay-sau"><span
										class="sk-lich-sau bt-g bt-g-chuv-phai glyphicon glyphicon-chevron-right"></span></a>
							</div>
						</div>
					</div>
				</div>
				<div id="lkbs" dl-hien-noikham="true" dl-hien-diachi="1" dl-ck="41" dl-ten="">
					<div class="mot-bs mot-bs-741 mot-bs-dv-kham" data-name="Bác sĩ Hoàng Thị Bạch Dương"
						data-dichvu="Khám">
						<div class="mot-bs-thongtin">
							<div class="mot-bs-anh"><a href="/vnpt/app/booking/datlich?bsid=1"><img
										src="https://bookingcare.vn/cache/120x120/image/2019/03/20/172104bac-si-hoang-thi-bach-duong.jpg"
										width="80" height="80" alt="Bác sĩ Hoàng Thị Bạch Dương">
									<div>Xem thêm</div>
								</a></div>
							<div class="mot-bs-soluoc">
								<h2 class="mot-bs-ten"><a href="/vnpt/app/booking/datlich?bsid=1">Bác
										sĩ Hoàng Thị Bạch Dương</a></h2>
								<p class="mot-bs-tomtat">Hiện đang là Giám đốc điều hành Phòng khám gia đình Việt Úc
								</p>
								<div class="mot-bs-diadiem"><span
										class="bt-g bt-g-diadiem glyphicon glyphicon-map-marker"></span> Hà Nội</div>
							</div>
						</div>
						<div class="mot-bs-lichkham" data-name="Bác sĩ Hoàng Thị Bạch Dương">
							<p class="mot-bs-chon-gio">Đặt Lịch Khám<select class="select">
									<option value=".lich-c741-d5">Hôm nay - 27/9</option>
								</select></p>
							<div data-thu="5" data-chonngay=".lich-c741-d5"
								class="mot-bs-ngay mot-bs-thu0 lich-c741-d5 lich-c741-d5-p143 hien">
								<div class="lich-kham-hom-nay">
									<div class="mot-bs-co-lichkham"><a href="/vnpt/app/booking/datlich?bsid=1" data-name="Đăng ký khám (Sáng)"
											rel="nofollow" class="mot-bs-giokham">Đăng
											ký khám (Sáng)</a><a href="/vnpt/app/booking/datlich?bsid=1" data-name="Đăng ký khám (Chiều)"
											rel="nofollow" class="mot-bs-giokham">Đăng
											ký khám (Chiều)</a><a href="/vnpt/app/booking/datlich?bsid=1" data-name="Đăng ký khám (Tối)" rel="nofollow"
											class="mot-bs-giokham">Đăng ký
											khám (Tối)</a><a href="/vnpt/app/booking/datlich?bsid=1" data-name="Đăng ký khám (Đêm)" rel="nofollow"
											class="mot-bs-giokham">Đăng ký
											khám (Đêm)</a></div>
									<div class="mot-bs-lichkham-huongdan" data-name="" style="opacity: 1;">Chọn <span
											class="bt-g bt-g-chitay-tren glyphicon glyphicon-hand-up"></span> và đặt
										(miễn phí)</div>
								</div>
								<div class="lichkham-diadiem">
									<h3>Địa chỉ</h3>
									<div class="lichkham-ten">Phòng khám Gia đình Việt Úc</div>
									<div class="lichkham-diachi">Tầng 1 Lô 6 Khu B - Tòa nhà Mandarin Garden - Đường
										Hoàng Minh Giám - Cầu Giấy - Hà Nội</div>
								</div>
							</div>
						</div>
						<div class="xeplai clearfix"></div>
					</div>
					<div class="mot-bs mot-bs-741 mot-bs-dv-kham" data-name="Bác sĩ Hoàng Thị Bạch Dương"
						data-dichvu="Khám">
						<div class="mot-bs-thongtin">
							<div class="mot-bs-anh"><a href="#"><img
										src="https://bookingcare.vn/cache/120x120/image/2019/03/20/172104bac-si-hoang-thi-bach-duong.jpg"
										width="80" height="80" alt="Bác sĩ Hoàng Thị Bạch Dương">
									<div>Xem thêm</div>
								</a></div>
							<div class="mot-bs-soluoc">
								<h2 class="mot-bs-ten"><a href="#">Bác
										sĩ Hoàng Thị Bạch Dương</a></h2>
								<p class="mot-bs-tomtat">Hiện đang là Giám đốc điều hành Phòng khám gia đình Việt Úc
								</p>
								<div class="mot-bs-diadiem"><span
										class="bt-g bt-g-diadiem glyphicon glyphicon-map-marker"></span> Hà Nội</div>
							</div>
						</div>
						<div class="mot-bs-lichkham" data-name="Bác sĩ Hoàng Thị Bạch Dương">
							<p class="mot-bs-chon-gio">Đặt Lịch Khám<select class="select">
									<option value=".lich-c741-d5">Hôm nay - 27/9</option>
								</select></p>
							<div data-thu="5" data-chonngay=".lich-c741-d5"
								class="mot-bs-ngay mot-bs-thu0 lich-c741-d5 lich-c741-d5-p143 hien">
								<div class="lich-kham-hom-nay">
									<div class="mot-bs-co-lichkham"><a href="#" data-name="Đăng ký khám (Sáng)"
											rel="nofollow" class="mot-bs-giokham">Đăng
											ký khám (Sáng)</a><a href="#" data-name="Đăng ký khám (Chiều)"
											rel="nofollow" class="mot-bs-giokham">Đăng
											ký khám (Chiều)</a><a href="#" data-name="Đăng ký khám (Tối)" rel="nofollow"
											class="mot-bs-giokham">Đăng ký
											khám (Tối)</a><a href="#" data-name="Đăng ký khám (Đêm)" rel="nofollow"
											class="mot-bs-giokham">Đăng ký
											khám (Đêm)</a></div>
									<div class="mot-bs-lichkham-huongdan" data-name="" style="opacity: 1;">Chọn <span
											class="bt-g bt-g-chitay-tren glyphicon glyphicon-hand-up"></span> và đặt
										(miễn phí)</div>
								</div>
								<div class="lichkham-diadiem">
									<h3>Địa chỉ</h3>
									<div class="lichkham-ten">Phòng khám Gia đình Việt Úc</div>
									<div class="lichkham-diachi">Tầng 1 Lô 6 Khu B - Tòa nhà Mandarin Garden - Đường
										Hoàng Minh Giám - Cầu Giấy - Hà Nội</div>
								</div>
							</div>
						</div>
						<div class="xeplai clearfix"></div>
					</div>
					<div class="mot-bs mot-bs-741 mot-bs-dv-kham" data-name="Bác sĩ Hoàng Thị Bạch Dương"
						data-dichvu="Khám">
						<div class="mot-bs-thongtin">
							<div class="mot-bs-anh"><a href="#"><img
										src="https://bookingcare.vn/cache/120x120/image/2019/03/20/172104bac-si-hoang-thi-bach-duong.jpg"
										width="80" height="80" alt="Bác sĩ Hoàng Thị Bạch Dương">
									<div>Xem thêm</div>
								</a></div>
							<div class="mot-bs-soluoc">
								<h2 class="mot-bs-ten"><a href="#">Bác
										sĩ Hoàng Thị Bạch Dương</a></h2>
								<p class="mot-bs-tomtat">Hiện đang là Giám đốc điều hành Phòng khám gia đình Việt Úc
								</p>
								<div class="mot-bs-diadiem"><span
										class="bt-g bt-g-diadiem glyphicon glyphicon-map-marker"></span> Hà Nội</div>
							</div>
						</div>
						<div class="mot-bs-lichkham" data-name="Bác sĩ Hoàng Thị Bạch Dương">
							<p class="mot-bs-chon-gio">Đặt Lịch Khám<select class="select">
									<option value=".lich-c741-d5">Hôm nay - 27/9</option>
								</select></p>
							<div data-thu="5" data-chonngay=".lich-c741-d5"
								class="mot-bs-ngay mot-bs-thu0 lich-c741-d5 lich-c741-d5-p143 hien">
								<div class="lich-kham-hom-nay">
									<div class="mot-bs-co-lichkham"><a href="#" data-name="Đăng ký khám (Sáng)"
											rel="nofollow" class="mot-bs-giokham">Đăng
											ký khám (Sáng)</a><a href="#" data-name="Đăng ký khám (Chiều)"
											rel="nofollow" class="mot-bs-giokham">Đăng
											ký khám (Chiều)</a><a href="#" data-name="Đăng ký khám (Tối)" rel="nofollow"
											class="mot-bs-giokham">Đăng ký
											khám (Tối)</a><a href="#" data-name="Đăng ký khám (Đêm)" rel="nofollow"
											class="mot-bs-giokham">Đăng ký
											khám (Đêm)</a></div>
									<div class="mot-bs-lichkham-huongdan" data-name="" style="opacity: 1;">Chọn <span
											class="bt-g bt-g-chitay-tren glyphicon glyphicon-hand-up"></span> và đặt
										(miễn phí)</div>
								</div>
								<div class="lichkham-diadiem">
									<h3>Địa chỉ</h3>
									<div class="lichkham-ten">Phòng khám Gia đình Việt Úc</div>
									<div class="lichkham-diachi">Tầng 1 Lô 6 Khu B - Tòa nhà Mandarin Garden - Đường
										Hoàng Minh Giám - Cầu Giấy - Hà Nội</div>
								</div>
							</div>
						</div>
						<div class="xeplai clearfix"></div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</body>

</html>