<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/booking">

<head>
	<meta charset="utf-8" />
	<title>Booking</title>
</head>

<body>
	<div layout:fragment="content" class="ds-bs">
		<div class="form-booking">
			<h2 style="margin: 0px auto;width: 700px">Đăng ký khám</h2>
		</div>
		<div class="container">
			<div class="datlichkham">
				<div class="mot-bs-dangky">
					<div class="mot-bs-thongtin" style="width: 100%">
						<div class="mot-bs-anh"><a
								href="#"><img
									src="https://bookingcare.vn/cache/120x120/image/2019/03/20/172104bac-si-hoang-thi-bach-duong.jpg"
									alt="Bác sĩ Hoàng Thị Bạch Dương"></a></div>
						<div class="mot-bs-soluoc">
							<h2 class="mot-bs-ten"><a
									href="#"> Bác sĩ Hoàng
									Thị Bạch Dương </a></h2>
							<div class="mot-bs-diadiem"> Chuyên khoa: Nha khoa, Tai mũi họng </div>
							<div class="mot-bs-diadiem"> Miễn phí đặt lịch </div>
						</div>
					</div>
				</div>
				<div class="datlich-thongtin">
					<form method="POST" id="datlichkham" action="#">
						<div class="an datcho-nguoi">
							<p class="tieude-nhom">Thông tin bệnh nhân</p>
						</div>
						<div class="dauvao-nhom">
							<div class="o-nhap"><span class="dauvao-bt glyphicon glyphicon-user"></span><input
									class="dauvao-nhap batbuoc" name="name" dl-luu="name" type="text"
									placeholder="Họ tên bệnh nhân (bắt buộc)" autocomplete="name/"></div>
							<div class="dauvao-thongbao"></div>
						</div>
						<div class="dauvao-nhom">
							<div class="o-nhap"><span class="dauvao-bt glyphicon glyphicon-calendar"></span>
								<input
									class="dauvao-nhap batbuoc wec-control-datetime" dl-luu="birthtime" name="birthtime" type="text"
									placeholder="Thời gian đặt lịch" autocomplete="birthday/"></div>
							<div class="dauvao-thongbao"></div>
						</div>
						<div class="dauvao-nhom">
							Giới tính: 
							<label><input type="radio" name="gender" value="0" checked="checked">
								Nam
							</label> 
							<label><input type="radio" name="gender" value="1"> Nữ
							</label></div>
						<div class="dauvao-nhom datcho-minh">
							<div class="o-nhap"><span class="dauvao-bt glyphicon glyphicon-phone"></span><input
									class="dauvao-nhap batbuoc" name="phone" dl-luu="phone" type="tel"
									placeholder="Số điện thoại liên hệ (bắt buộc)" autocomplete="tel/"></div>
							<div class="dauvao-thongbao"></div>
						</div>
						<div class="dauvao-nhom datcho-minh">
							<div class="o-nhap"><span class="dauvao-bt glyphicon glyphicon-inbox"></span><input
									class="dauvao-nhap" name="email" dl-luu="email" type="email" placeholder="Email"
									autocomplete="email/"></div>
							<div class="dauvao-thongbao"></div>
						</div>
						<div class="dauvao-nhom">
							<div class="o-nhap"><span class="dauvao-bt glyphicon glyphicon-calendar"></span><input
									class="dauvao-nhap batbuoc" dl-luu="birthtime" name="birthtime" type="number"
									placeholder="Năm sinh (bắt buộc)" autocomplete="birthday/"></div>
							<div class="dauvao-thongbao"></div>
						</div>
						
						<div class="dauvao-nhom">
							<div class="o-nhap"><span class="dauvao-bt glyphicon glyphicon-map-marker"></span><input
									class="dauvao-nhap" name="address" dl-luu="address" type="text"
									placeholder="Địa chỉ chi tiết" autocomplete="address/"></div>
							<div class="dauvao-thongbao"></div>
						</div>
						<div class="dauvao-nhom">
							<div class="o-nhap"><span class="dauvao-bt glyphicon glyphicon-plus-sign"></span><textarea
									name="reason_other" class="dauvao-nhap" placeholder="Lý do khám"></textarea></div>
							<div class="dauvao-thongbao"></div>
						</div>
						<p class="dauvao-ghichu chu-giua">Chúng tôi sẽ liên hệ lại để xác nhận &amp; cung cấp thêm thông
							tin đi khám</p>
						<div><button class="btn btn-default btn-blue btn-block btn-lg">Xác nhận đặt lịch</button></div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>